---
import BlockContainer from "@/components/global/BlockContainer.astro";
import TagH2 from "@/components/global/TagH2.astro";
import TagH3 from "@/components/global/TagH3.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<BlockContainer>
    <TagH2 class="text-center mb-10">Features Snorkeling</TagH2>
    <div class="grid grid-cols-1 lg:grid-cols-9 lg:grid-rows-2 gap-5">
        <div class="bg-sky-100 rounded-lg lg:col-span-5">
            <div class="grid grid-cols-5 h-full">
                <div class="col-span-3 p-10">
                    <TagH3>{i18n.MAYAN_REEF_PAGE.GRID_TEXTS.SNORKEL_TOURS.TITLE}</TagH3>
                    <p class="text-base/loose" set:html={i18n.MAYAN_REEF_PAGE.GRID_TEXTS.SNORKEL_TOURS.DESCRIPTION} />
                </div>
                <div class="col-span-2">
                    <img src="/assets/img/bg/footer-bg.png" alt="Snorkeling Adventure" class="w-full h-full object-cover" />
                </div>
            </div>
        </div>
        <div class="bg-sky-100 rounded-lg lg:col-span-4">
            <div class="p-10">
                <TagH3>{i18n.MAYAN_REEF_PAGE.GRID_TEXTS.IMPORTANCE_NATIONAL_PARK.TITLE}</TagH3>
                <p class="text-base/loose" set:html={i18n.MAYAN_REEF_PAGE.GRID_TEXTS.IMPORTANCE_NATIONAL_PARK.DESCRIPTION} />
            </div>
        </div>
        <div class="bg-sky-100 rounded-lg lg:col-span-3">
            <div class="p-10">
                <TagH3>{i18n.MAYAN_REEF_PAGE.GRID_TEXTS.FLORA_FAUNA.TITLE}</TagH3>
                <ul class="list-disc list-inside mt-10 space-y-4 text-base/loose">
                    {i18n.MAYAN_REEF_PAGE.GRID_TEXTS.FLORA_FAUNA.LIST.map((item: { title: string, description: string }) => (
                        <li>
                            <strong>{item.title}:</strong> {item.description}
                        </li>
                    ))}
                </ul>
            </div>
        </div>
        <div class="bg-sky-100 rounded-lg lg:col-span-3">
            <div class="p-10">
                <TagH3>{i18n.MAYAN_REEF_PAGE.GRID_TEXTS.BENEFITS_SNORKEL_TOURS.TITLE}</TagH3>
                <ul class="list-disc list-inside mt-10 space-y-4 text-base/loose">
                    {i18n.MAYAN_REEF_PAGE.GRID_TEXTS.BENEFITS_SNORKEL_TOURS.LIST.map((item: { title: string, description: string }) => (
                        <li>
                            <strong>{item.title}:</strong> {item.description}
                        </li>
                    ))}
                </ul>
            </div>
        </div>
        <div class="bg-sky-100 rounded-lg lg:col-span-3">
            <div class="p-10">
                <TagH3>{i18n.MAYAN_REEF_PAGE.GRID_TEXTS.MAKING_MOST_VISIT.TITLE}</TagH3>
                <ul class="list-disc list-inside mt-10 space-y-4 text-base/loose">
                    {i18n.MAYAN_REEF_PAGE.GRID_TEXTS.MAKING_MOST_VISIT.LIST.map((item: { title: string, description: string }) => (
                        <li>
                            <strong>{item.title}:</strong> {item.description}
                        </li>
                    ))}
                </ul>
            </div>
        </div>
    </div>
</BlockContainer>
